<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/5169269.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Pagina web Daniel Robles Arellano</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Potencia tus ventas al menos un 200%</h1>
            <h2>Con una pagina web potente</h2>
        </section>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestro producto</h2>
            <div class="contenerdor-sobre-nosotros">
                <img src="/assets/img/5169269.png" alt="">
            </div>
        </section>
    </main>




    
</body>
</html>