<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/styles.css">
    <title>Clon de Google</title>
</head>
<body>

<header>

</header>


<main>
</main>



<footer>
    <nav>
<a href="https://about.google/?utm_source=google-MX&utm_medium=referral&utm_campaign=hp-footer&fg=1" id="Sobre-Google" class="footer">Sobre Google</a>
<a href="https://ads.google.com/intl/es-419_mx/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1" id="Publicidad" class="footer">Publicidad</a>
<a href="https://smallbusiness.withgoogle.com/intl/es-419_mx/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google&utm_medium=ep&utm_campaign=google_hpbfooter&utm_content=google_hpbfooter&gmbsrc=ww-ww-et-gs-z-gmb-s-z-u~sb-g4sb_srvcs-u&c=MX#!/" id="Negocios" class="footer">Negocios</a>
<a href="https://www.google.com/search/howsearchworks/?fg=1" id="Como-funciona-la-Busqueda" class="footer">Como funciona la Búsqueda</a>
<a href="https://policies.google.com/privacy?hl=es-419&fg=1" id="privacidad" class="footer">Privacidad</a>
<a href="https://policies.google.com/terms?hl=es-419&fg=1" id="Terminos" class="footer">Terminos</a>
    </nav>
</footer>


</body>
</html>